.cart{
    width: 700px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

.emptyCart{
    margin: 40px;
    text-align: center;
}

.fullCart{
    border-radius: 12px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.65);
}

.total{
    float: right;
    margin: 20px 30px;
}

